html, body {
	width: 100%
	height:100%;
	background-color: #27312D;
}

.main-container {
	height: 100%;
	padding: 22px 30px;
}
.font {
	font-family: "Myriad Pro";
}
.flex {
	display: flex;
}
.menu-block {
	flex-direction: column;
	width: 14.3%;
}
.menu-box {
	margin-bottom: 30px;

	height: 40px;
}
.smoked {
	top: 19px;
}
.title {
 	color: #F8D59B;
    font-size: 30px;
}

img {
	width: 55px;
    position: relative;
    top: 11px;
}
.sushi {
	top:21px;
}

.item {
	color: #D1AF7D;
	font-size: 9px;
	margin-top: 10px;
}
.weight {
	color: #fff;
	font-size: 9px;
	margin: 22px 0 0 7px;
}
span {
	border: solid 1px #F15B2C;
	margin-right: 5px;
}
/*roll style*/
.menu-box-2 {

	height: 55px;
	margin: 15px 25px 28px 0;
}
.item-2 {
	color: #D1AF7D;
	font-size: 9px;
	margin-bottom: 25px;
}
/*rice and nodle*/
.menu-box-3 {
	height: 79px;
	margin: 13px 25px 1px 0;
}
.nd {
    top: 0px;
}
/*soups*/
.menu-box-4 {
	height: 79px;
	margin:13px 25px 16px 0;
}
/*dessert*/
.moch {
	top: 17px;
}
.mochi {
	color: white;
	font-size: 8px;
}
.mochi-img {
	top:6px;
}
.menu-box-5 {
	height: 79px;
	margin: 13px 25px 10px 0;
}
/*drinks*/
.menu-box-6 {
	height: 45px;
	margin: 13px 25px 10px 0;
}
.sprite {
	height: 60px;
	top: 3px;
}
.drinks {
	height: 50px;
	top: 9px;
}
