.main-container {
	width: 100%;
	height: 100%;
	padding: 22px 30px;
	background-color: black;
}
.font {
	font-family: "Myriad Pro";
}
.flex {
	display: flex;
}
.menu-block {
	flex-direction: column;
}
.menu-box {
	margin-bottom: 30px;
	width: 145px;
	height: 40px;
}
.smoked {
	top: 19px;
}
.title {
 	color: #F8D59B;
    font-size: 30px;
    text-align: center;
}
img {
	width: 50px;
    position: relative;
    top: 8px;
}

.item {
	color: #D1AF7D;
	font-size: 9px;
	margin-top: 10px;
}
.weight {
	color: #fff;
	font-size: 9px;
	margin: 13px 0 0 7px;
}
span {
	border: solid 1px red;
	margin-right: 5px;
}
