body {
	background-color: black;
}
.main-container {
	width: auto;
	height: auto;
	padding: 22px 30px;
}
.font {
	font-family: "Myriad Pro";
}
.flex {
	display: flex;
}
.menu-block {
	flex-direction: column;
}
.menu-box {
	margin-bottom: 30px;

	height: 40px;
}
.smoked {
	top: 19px;
}
.title {
 	color: #F8D59B;
    font-size: 30px;
    text-align: center;
}
img {
	width: 55px;
    position: relative;
    top: 11px;
}

.item {
	color: #D1AF7D;
	font-size: 9px;
	margin-top: 10px;
}
.weight {
	color: #fff;
	font-size: 9px;
	margin: 22px 0 0 7px;
}
span {
	border: solid 1px #F15B2C;
	margin-right: 5px;
}
/*roll style*/
.menu-box-2 {

	height: 55px;
	margin: 15px 25px 27px 0;
}
.item-2 {
	color: #D1AF7D;
	font-size: 9px;
	margin-bottom: 25px;
}
/*rice and nodle*/
.menu-box-3 {

	height: 79px;
	margin: 13px 25px 1px 0;
}
.nd {

    top: 0px;
}